.title{
font-family:thin-font;
font-size: 70px;
}


.img{
  width: 100%;
  height: 200px;
  background-size: cover;
  margin-top: 30px;
}

.img1{
  background-image: url(img/aquarium/small/1.jpg);
}
.img2{
  background-image: url(img/aquarium/small/2.jpg);
}
.img3{
  background-image: url(img/aquarium/small/3.jpg);
}
.img4{
  background-image: url(img/aquarium/small/4.jpg);
}
.img5{
  background-image: url(img/aquarium/small/5.jpg);
}
.img6{
  background-image: url(img/aquarium/small/6.jpg);
}
.img7{
  background-image: url(img/aquarium/small/7.jpg);
}
.img8{
  background-image: url(img/aquarium/small/8.jpg);
}
.img9{
  background-image: url(img/aquarium/small/9.jpg);
}
.img10{
  background-image: url(img/aquarium/small/10.jpg);
}
.img11{
  background-image: url(img/aquarium/small/11.jpg);
}
.img12{
  background-image: url(img/aquarium/small/12.jpg);
}
